@using Microsoft.AspNetCore.Mvc.Localization
@using hmt_energy_csharp.Localization
@inject IHtmlLocalizer<hmt_energy_csharpResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
